* {
  margin: 0;
  padding: 0;
}
body {
  background-color: blueviolet;
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
}
span {
  display: block;
}
table {
  margin-bottom: 30px;
  border-spacing: 0;
  width: 100%;
  height: 100%;
}
#header {
  background-color: rgba(58, 11, 99);
  backdrop-filter: brightness(0.7);
  height: 70px;
}
#headerfoto {
  margin-left: 23%;
}
.empty {
  width: 10px;
}
#matriculaarea {
  background-image: url(Fotos/fundo\ 1.png);
  background-size: cover;
  width: 100%;
}
#matriculaside__content {
  margin-left: auto;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}
img#tudo__e__tech {
  width: 500px;
  margin-bottom: 25px;
}
img#matriculas__abertas {
  width: 390px;
  margin-bottom: 15px;
}
img#telefone__contato {
  width: 280px;
  margin-bottom: 60px;
}
img#referencia__google {
  width: 230px;
  margin-bottom: 30px;
}
#matricula__formulario__content {
  margin-left: 70px;
  height: 92%;
  width: 350px;
  color: white;
  padding: 30px;
  padding-top: 50px;
  background-color: rgba(255, 255, 255, 0.25);
}

#matricula__formulario div h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
#matricula__mensagem {
  font-size: 18px;
}
.above__txtbox {
  font-size: 17px;
  margin-top: 24px;
  margin-bottom: 5px;
  font-weight: 200;
}
.form__input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: white;
  padding-left: 10px;
  border: solid 2px white;
  background-color: transparent;
  border-left-style: solid;
  border-bottom-style: solid;
  border-right-style: none;
  border-top-style: none;
}
#telefone__input {
  display: flex;
}
#telefone__pais {
  width: 30px;
  margin-right: 10px;
}
#checkbox__area span {
  font-weight: 400;
  margin-top: 20px;
  font-size: 15px;
}
#checkbox__input {
  display: flex;
}
#checkbox__input span {
  margin-top: 10px;
  margin-left: 7px;
  font-size: 14px;
  line-height: 16px;
}
#send__button {
  width: 100%;
  margin-top: 30px;
  padding: 18px;
  font-size: 24px;
  color: white;
  background-color: rgb(58, 11, 99);
  border: none;
  border-radius: 20px;
}
#send__button:hover {
  cursor: pointer;
}
#pink__row {
  padding-top: 20px;
  height: 400px;
  width: 100%;
  background-color: rgb(251, 69, 199);
  color: white;
}
#pink__row__image__space {
  height: 100%;
}
#pink__row__image {
  margin-left: 42%;
  margin-right: 10px;
  width: 55%;
  height: min-content;
}
#pink__row__content {
  margin-top: 10px;
  width: 50%;
}
#pink__row__content div {
  width: 50%;
  padding: 15px 40px;
  margin-left: 10px;
}
#pink__row__content div div {
  width: 40%;
}
#pink__row__content h2 {
  margin-bottom: 15px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
#pink__row__subtitle {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 10px;
}
#pink__row__text {
  text-align: justify;
  font-size: 16px;
  line-height: 27px;
}
#green__row {
  background-color: #89f668;
}
#green__row__content {
  display: flex;
  justify-content: center;
  padding: 30px;
}
#green__row__content > div {
  margin: 0 30px;
  width: 18%;
  display: grid;
  justify-items: center;
}
.icon {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}
.icon__text {
  width: 280px;
  text-align: center;
  color: rgb(102, 16, 131);
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
}
.purplebg{
  background-color: rgba(67,11,110,1);
}
.colorgreen{
  color: rgb(137, 246, 104);
}
.centertxt{
  text-align: center;
}
#subtitle{
  padding-top: 40px;
}
#subtitle h2{
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 10px;
}
#subtitle h3{
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 30px;
}
.sidebyside{
  width: 100%;
  display: flex;
  justify-content: center;
}
.sideleft{
  height: 100% ;
  display: flex;
  justify-content: right;
}

.sideright{
  margin-right: auto;
}
.sideimage{
width: 459px;
margin: 10px;
}
.sidetext{
  color: #89f668;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 459px; 
  height: 100%;
  font-weight: 600;
  background-color: rgba(91,16,120,1);
  padding: 0 10px;
}
.sidetext div{
  width: 77%;
}
.sidetexttitle{
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 32px;
}
.sidetextdescription{
  font-size: 18px;
  line-height: 24px;
}
#matricula__button__area{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 90px;
}
#matricula__button{
  text-decoration: none;
  color: white;
  font-size: 19px;
  font-weight: bold;
  padding: 14px 76px;
  background-color: rgba(138,77,157,1);
  border-radius: 10px;
}
#footer__tr{
  padding-bottom: 20px;
}
#footer__center{
  width: 100%;
  display: flex;
  justify-content: center;
}
#footer__container{
  display: flex;
  width: 66%;
  justify-content: space-between;
}
.footer__info{
  display: flex;
  flex-direction: column;
  align-items: start;
}
#PoliticaPrivacidade{
  color: white;
  font-weight: bold;
  margin-bottom: 22px;
  font-size: 12px;
}
#googlelogo__footer{
  width: 155px;
  margin: auto;
}
.nome__unidade{
  color: white;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
}
.endereco{
  color: white;
  font-size: 14px;
  margin-bottom: 5px;
}
#circle__whatsapp__logo{
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
#whatsapp__logo {
  width: 30px;
  height: 30px;
}
#whatsapp__logo:hover {
  cursor: pointer;
}
