* {
  margin: 0;
  padding: 0;
}
body {
  background-color: blueviolet;
  width: 100vw;
  height: 100%;
  font-family: "Raleway", sans-serif;
}
span {
  display: block;
}
table {
  border-spacing: 0;
  width: 100%;
  height: 100%;
}
#header {
  background-color: rgba(58, 11, 99);
  backdrop-filter: brightness(0.7);
  height: 70px;
}
#headerfoto {
  margin-left: 23%;
}
.empty {
  width: 180px;
}
#matriculaarea {
  background-image: url(Fotos/fundo\ 1.png);
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
}
#matriculaside {
  margin-right: 35px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}
img#tudo__e__tech {
  width: 500px;
  margin-bottom: 25px;
}
img#matriculas__abertas {
  width: 390px;
  margin-bottom: 15px;
}
img#telefone__contato {
  width: 280px;
  margin-bottom: 60px;
}
img#referencia__google {
  width: 230px;
  margin-bottom: 30px;
}
#matricula__formulario {
  width: 350px;
  color: white;
  padding: 30px;
  padding-top: 50px;
  background-color: rgba(255, 255, 255, 0.25);
}

#matricula__formulario h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
#matricula__mensagem {
  font-size: 18px;
}
.above__txtbox {
  font-size: 17px;
  margin-top: 24px;
  margin-bottom: 5px;
  font-weight: 200;
}
.form__input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: white;
  padding-left: 10px;
  border: solid 2px white;
  background-color: transparent;
  border-left-style: solid;
  border-bottom-style: solid;
  border-right-style: none;
  border-top-style: none;
}
#telefone__input {
  display: flex;
}
#telefone__pais {
  width: 30px;
  margin-right: 10px;
}
#checkbox__area span {
  font-weight: 400;
  margin-top: 20px;
  font-size: 15px;
}
#checkbox__input {
  display: flex;
}
#checkbox__input span {
  margin-top: 10px;
  margin-left: 7px;
  font-size: 14px;
  line-height: 16px;
}
#send__button {
  width: 100%;
  margin-top: 30px;
  padding: 18px;
  font-size: 24px;
  color: white;
  background-color: rgb(58, 11, 99);
  border: none;
  border-radius: 20px;
}
#send__button:hover {
  cursor: pointer;
}
#pink__row {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  height: 400px;
  width: 100%;
  background-color: rgb(251, 69, 199);
  color: white;
}
#pink__row__image__space {
  margin-top: 20px;
  display: flex;
  width: 50%;
  justify-content: right;
}
#pink__row__image {
  margin-right: 10px;
  width: 55%;
  height: min-content;
}
#pink__row__content {
  margin-top: 10px;
  width: 50%;
}
#pink__row__content div {
  width: 50%;
  padding: 15px 40px;
  margin-left: 10px;
}
#pink__row__content div div {
  width: 40%;
}
#pink__row__content h2 {
  margin-bottom: 15px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
#pink__row__subtitle {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 10px;
}
#pink__row__text {
  text-align: justify;
  font-size: 16px;
  line-height: 27px;
}

#whatsapp__logo {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: white;
  padding: 10px;
  width: 40px;
  border-radius: 50%;
}
#whatsapp__logo:hover {
  cursor: pointer;
}
